:root
  --red:#f00
.test
body
  background var(--red)
  position: absolute;
  left: 0;
  display: flex;
  padding: -(10px);
  width: 100;
  border: 1px solid #000000;
  border: 0;
  filter: blur(10px); // 121
  background-color: #000;
  color: $color;
  font-family: "Open Sans";
  transform: translate(10px);

  if (a > b)
    box-shadow:
      0 0 5px black,
      0 5px 1px 1px blue,
      10px 10px 0 red,
      0 0 0 1px yellow inset;
  else
    box-shadow: 0 0 0 0 #000;

abc =
  display: block;

+block(app)
  color: $color;
