<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="<%= process.env.BASE_URL %>favicon.ico"
      type="image/x-icon"
    />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <div></div>
  </body>
</html>
